@model RockPaperScissorsWebApp.Models.Game
@{
    ViewBag.Title = "Player vs Player";
}

<h2>Computer vs Computer</h2>

Games Played = @Model.gamesPlayed
P1 Wins = @Model.player1wins
Draws = @Model.draws
P2 Wins = @Model.player2wins

p1 choice = @Model.Player1Choice
p2 choice = @Model.Player2Choice

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input name="submit" type="submit" value="Play Round" class="btn btn-default" />
    </div>
    <div class="form-actions no-color">
        <input name="submit" type="submit" value="Reset Scores" class="btn btn-default" />
    </div>
}